<h2><%= @project.title %></h2>

<h4>Current Project Volunteers:</h4>

  <% if @project.volunteers %>
    <ul>
      <% @project.volunteers.each do |volunteer| %>
        <li><a href="/projects/<%= @project.id %>/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no volunteers listed for this project yet.</p>
  <% end %>
<br>
<br>

<form action="/projects/<%= @project.id %>/volunteers" method="post">
  <div class="form-group">
    <label for="volunteer_name">Enter volunteer's name:</label>
    <input id="volunteer_name" name="volunteer_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>
<br>
<p><a href="/projects/<%= @project.id %>/edit">Edit Project</a></p>
<p><a href="/projects">Return to project list</a></p>