<div class="container">
  <div class="jumbotron">
    <h1> <%= @volunteer.name %></h1>
  </div>
</div>
<h3>Project: <%= @volunteer.project.title %></h3>
<br>
<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="name">Rename volunteer</label>
  <input id="name" name="name" type="text">
  
  <button type="submit" class="btn-success">Update</button>
</form>

<form action="/projects/<%= @volunteer.project.id %>/volunteers/<%= @volunteer.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn-danger">Delete</button>
</form>
<br>

<a href="/projects/<%= @volunteer.project.id %>">Back to <%= @volunteer.project.title %></a>